/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "strings"
    "os"

    "tiktokshop/open/sdk_golang/models/product/v202309"
)


// ProductV202309APIService ProductV202309API service
type ProductV202309APIService service

type ApiProduct202309BrandsGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    pageSize *int32
    xTtsAccessToken *string
    contentType *string
    categoryId *string
    isAuthorized *bool
    brandName *string
    pageToken *string
    categoryVersion *string
    shopCipher *string
}

// The number of results to be returned per page. Valid range: [1-100]
func (r ApiProduct202309BrandsGetRequest) PageSize(pageSize int32) ApiProduct202309BrandsGetRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiProduct202309BrandsGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309BrandsGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309BrandsGetRequest) ContentType(contentType string) ApiProduct202309BrandsGetRequest {
    r.contentType = &contentType
    return r
}
// Specify a category ID to show the availability of **authorized brands** in the category. **Note**: Specify this value to obtain an accurate list of brands that you can use in a category.
func (r ApiProduct202309BrandsGetRequest) CategoryId(categoryId string) ApiProduct202309BrandsGetRequest {
    r.categoryId = &categoryId
    return r
}
// Filter results by the brand authorization status. Possible values: - 1: Returns only authorized brands - 0: Returns all brands
func (r ApiProduct202309BrandsGetRequest) IsAuthorized(isAuthorized bool) ApiProduct202309BrandsGetRequest {
    r.isAuthorized = &isAuthorized
    return r
}
// Filter results to include brand names that begin with the specified value.
func (r ApiProduct202309BrandsGetRequest) BrandName(brandName string) ApiProduct202309BrandsGetRequest {
    r.brandName = &brandName
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.
func (r ApiProduct202309BrandsGetRequest) PageToken(pageToken string) ApiProduct202309BrandsGetRequest {
    r.pageToken = &pageToken
    return r
}
// The category tree version that corresponds to the specified &#x60;category_id&#x60;. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: For US shops, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309BrandsGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309BrandsGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
// 
func (r ApiProduct202309BrandsGetRequest) ShopCipher(shopCipher string) ApiProduct202309BrandsGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiProduct202309BrandsGetRequest) Execute() (*product_v202309.Product202309GetBrandsResponse, *http.Response, error) {
    return r.ApiService.Product202309BrandsGetExecute(r)
}

/*
Product202309BrandsGet GetBrands
Retrieve all available brands for your shop, including the built-in brands and any custom brands created using the [Create Custom Brands API](650a0926f1fd3102b91bbfb0). Pass the returned brand ID when creating or editing a product to associate the brand with the product.
- To check if a brand is fully authorized for use in a specific product category, specify the **category ID**.
- To obtain the full list of brands that your shop can potentially use and their authorization status, omit the category ID. We recommend that you specify the **brand name** to narrow down the list of brands returned.
**Key concept**
Whether you can select and display a brand depends on the brand's authorization status, the categories authorized for the brand, and whether the brand is classified as T1 (internationally renowned brands that require prior brand authorization).
**- Brand selection rules**: You can only select the following types of brands during product creation/editing.
   - Authorized brands which contain the desired category (`authorized_status=AUTHORIZED` and `brand_status=AVAILABLE`)
   - Unauthorized non-T1 brands (`authorized_status=UNAUTHORIZED` and `is_t1_brand=false`) 
**- Brand display rules**: Note however that brands will only appear on the product display page if the brand is authorized (`authorized_status=AUTHORIZED`) and available in the desired category (`brand_status=AVAILABLE`). This means that you need to obtain brand authorization for unauthorized non-T1 brands before they can be displayed. Obtain brand authorization or add categories to an authorized brand through TikTok Shop Seller Center > Qualification Center > Brand qualification.
**For Tokopedia sellers**: You can select and display any returned brand on Tokopedia regardless of these rules.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309BrandsGetRequest
*/
func (a *ProductV202309APIService) Product202309BrandsGet(ctx context.Context) ApiProduct202309BrandsGetRequest {
    return ApiProduct202309BrandsGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309GetBrandsResponse
func (a *ProductV202309APIService) Product202309BrandsGetExecute(r ApiProduct202309BrandsGetRequest) (*product_v202309.Product202309GetBrandsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetBrandsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309BrandsGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/brands"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.categoryId != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_id", r.categoryId, "")
    }
    if r.isAuthorized != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "is_authorized", r.isAuthorized, "")
    }
    if r.brandName != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "brand_name", r.brandName, "")
    }
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309BrandsPostRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    product202309CreateCustomBrandsRequestBody *product_v202309.Product202309CreateCustomBrandsRequestBody
}

// 
func (r ApiProduct202309BrandsPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309BrandsPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309BrandsPostRequest) ContentType(contentType string) ApiProduct202309BrandsPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiProduct202309BrandsPostRequest) Product202309CreateCustomBrandsRequestBody(product202309CreateCustomBrandsRequestBody product_v202309.Product202309CreateCustomBrandsRequestBody) ApiProduct202309BrandsPostRequest {
    r.product202309CreateCustomBrandsRequestBody = &product202309CreateCustomBrandsRequestBody
    return r
}
func (r ApiProduct202309BrandsPostRequest) Execute() (*product_v202309.Product202309CreateCustomBrandsResponse, *http.Response, error) {
    return r.ApiService.Product202309BrandsPostExecute(r)
}

/*
Product202309BrandsPost CreateCustomBrands
Create custom brands for your own use across all markets.
Authorization is not required when creating a brand. You can create the brand first and obtain brand authorization later through the Qualification Center in TikTok Shop Seller Center.
**Note**: You can create up to 50 brands per day, with a total limit of 1,000 brands.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309BrandsPostRequest
*/
func (a *ProductV202309APIService) Product202309BrandsPost(ctx context.Context) ApiProduct202309BrandsPostRequest {
    return ApiProduct202309BrandsPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309CreateCustomBrandsResponse
func (a *ProductV202309APIService) Product202309BrandsPostExecute(r ApiProduct202309BrandsPostRequest) (*product_v202309.Product202309CreateCustomBrandsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309CreateCustomBrandsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309BrandsPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/brands"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202309CreateCustomBrandsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309CategoriesCategoryIdAttributesGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    categoryId string
    xTtsAccessToken *string
    contentType *string
    locale *string
    categoryVersion *string
    shopCipher *string
}

// 
func (r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309CategoriesCategoryIdAttributesGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) ContentType(contentType string) ApiProduct202309CategoriesCategoryIdAttributesGetRequest {
    r.contentType = &contentType
    return r
}
// The BCP-47 locale codes for displaying the attribute information.  Default: The default locale of your shop. Possible values: - &#x60;de-DE&#x60; - &#x60;en-GB&#x60; - &#x60;en-IE&#x60; - &#x60;en-US&#x60; - &#x60;es-ES&#x60; - &#x60;es-MX&#x60; - &#x60;fr-FR&#x60; - &#x60;id-ID&#x60; - &#x60;it-IT&#x60; - &#x60;ja-JP&#x60; - &#x60;ms-MY&#x60; - &#x60;pt-BR&#x60; - &#x60;th-TH&#x60; - &#x60;vi-VN&#x60; - &#x60;zh-CN&#x60;
func (r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) Locale(locale string) ApiProduct202309CategoriesCategoryIdAttributesGetRequest {
    r.locale = &locale
    return r
}
// The category tree version that corresponds to the specified &#x60;category_id&#x60;. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: For US shops, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309CategoriesCategoryIdAttributesGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
// 
func (r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) ShopCipher(shopCipher string) ApiProduct202309CategoriesCategoryIdAttributesGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) Execute() (*product_v202309.Product202309GetAttributesResponse, *http.Response, error) {
    return r.ApiService.Product202309CategoriesCategoryIdAttributesGetExecute(r)
}

/*
Product202309CategoriesCategoryIdAttributesGet GetAttributes
Retrieve the standard built-in product and sales attributes for listing a product in a particular category based on your shop's location.
Products on TikTok Shop are grouped into categories predefined by TikTok Shop, and each category is associated with a standard set of product attributes and sales attributes.
- **Sales attributes** (e.g. size, color, length) define product variants and are optional if your product is straightforward and has no variants.
- **Product attributes** (e.g. manufacturer, country of origin, materials used) describe the product as a whole, regardless of variant. Some product attributes are mandatory based on listing policies.
Use this API to determine the mandatory and optional attributes before listing a product.
**Note**: It must be a [leaf category](6509c89d0fcef602bf1acd9b) that corresponds to the category tree type specified in the `category_version` property.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param categoryId The ID of the category of this product. It must be a leaf category.
@return ApiProduct202309CategoriesCategoryIdAttributesGetRequest
*/
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdAttributesGet(ctx context.Context, categoryId string) ApiProduct202309CategoriesCategoryIdAttributesGetRequest {
    return ApiProduct202309CategoriesCategoryIdAttributesGetRequest{
        ApiService: a,
        ctx: ctx,
        categoryId: categoryId,
    }
}

// Execute executes the request
//  @return Product202309GetAttributesResponse
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdAttributesGetExecute(r ApiProduct202309CategoriesCategoryIdAttributesGetRequest) (*product_v202309.Product202309GetAttributesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetAttributesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309CategoriesCategoryIdAttributesGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/categories/{category_id}/attributes"
    localVarPath = strings.Replace(localVarPath, "{"+"category_id"+"}", url.PathEscape(parameterValueToString(r.categoryId, "categoryId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.locale != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "")
    }
    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    categoryId string
    xTtsAccessToken *string
    contentType *string
    locale *string
    categoryVersion *string
}

// 
func (r ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest) ContentType(contentType string) ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest {
    r.contentType = &contentType
    return r
}
// The BCP-47 locale codes for displaying the attribute information.  Default: en-US Possible values: - &#x60;de-DE&#x60; - &#x60;en-GB&#x60; - &#x60;en-IE&#x60; - &#x60;en-US&#x60; - &#x60;es-ES&#x60; - &#x60;es-MX&#x60; - &#x60;fr-FR&#x60; - &#x60;id-ID&#x60; - &#x60;it-IT&#x60; - &#x60;ja-JP&#x60; - &#x60;ms-MY&#x60; - &#x60;th-TH&#x60; - &#x60;vi-VN&#x60; - &#x60;zh-CN&#x60;
func (r ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest) Locale(locale string) ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest {
    r.locale = &locale
    return r
}
// The category tree version that corresponds to the specified &#x60;category_id&#x60;. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: If the seller account contains an active US shop, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
func (r ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest) Execute() (*product_v202309.Product202309GetGlobalAttributesResponse, *http.Response, error) {
    return r.ApiService.Product202309CategoriesCategoryIdGlobalAttributesGetExecute(r)
}

/*
Product202309CategoriesCategoryIdGlobalAttributesGet GetGlobalAttributes
Retrieve the standard built-in product and sales attributes for listing a global product in a particular category, regardless of market variations.
Products on TikTok Shop are grouped into categories predefined by TikTok Shop, and each category is associated with a standard set of product attributes and sales attributes.
- **Sales attributes** (e.g. size, color, length) define product variants and are optional if your product is straightforward and has no variants.
- **Product attributes** (e.g. manufacturer, country of origin, materials used) describe the product as a whole, regardless of variant. Some product attributes are mandatory based on listing policies.
Use this API to determine the mandatory and optional attributes before listing a global product.
**Note**: It must be a [leaf category](650a03f8f1fd3102b91b338a) that corresponds to the category tree type specified in the `category_version` property.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param categoryId The ID of the category. It must be a leaf category. 
@return ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest
*/
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdGlobalAttributesGet(ctx context.Context, categoryId string) ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest {
    return ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest{
        ApiService: a,
        ctx: ctx,
        categoryId: categoryId,
    }
}

// Execute executes the request
//  @return Product202309GetGlobalAttributesResponse
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdGlobalAttributesGetExecute(r ApiProduct202309CategoriesCategoryIdGlobalAttributesGetRequest) (*product_v202309.Product202309GetGlobalAttributesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetGlobalAttributesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309CategoriesCategoryIdGlobalAttributesGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/categories/{category_id}/global_attributes"
    localVarPath = strings.Replace(localVarPath, "{"+"category_id"+"}", url.PathEscape(parameterValueToString(r.categoryId, "categoryId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.locale != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "")
    }
    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    categoryId string
    xTtsAccessToken *string
    contentType *string
    categoryVersion *string
    locale *string
}

// 
func (r ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest) ContentType(contentType string) ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest {
    r.contentType = &contentType
    return r
}
// The category tree version that corresponds to the specified &#x60;category_id&#x60;. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: If the seller account contains an active US shop, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
// The BCP-47 locale codes for displaying category information. Default: en-US Possible values: - &#x60;de-DE&#x60; - &#x60;en-GB&#x60; - &#x60;en-IE&#x60; - &#x60;en-US&#x60; - &#x60;es-ES&#x60; - &#x60;es-MX&#x60; - &#x60;fr-FR&#x60; - &#x60;id-ID&#x60; - &#x60;it-IT&#x60; - &#x60;ja-JP&#x60; - &#x60;ms-MY&#x60; - &#x60;th-TH&#x60; - &#x60;vi-VN&#x60; - &#x60;zh-CN&#x60;
func (r ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest) Locale(locale string) ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest {
    r.locale = &locale
    return r
}
func (r ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest) Execute() (*product_v202309.Product202309GetGlobalCategoryRulesResponse, *http.Response, error) {
    return r.ApiService.Product202309CategoriesCategoryIdGlobalRulesGetExecute(r)
}

/*
Product202309CategoriesCategoryIdGlobalRulesGet GetGlobalCategoryRules
Retrieve the additional requirements (beyond mandatory product attributes) for listing a global product in a particular category, regardless of market variations. Requirements may include product certifications, size charts, dimensions and more.
Use this API to determine the supporting information that you must prepare before listing a global product.
**Note**: It must be a [leaf category](650a03f8f1fd3102b91b338a) that corresponds to the category tree type specified in the `category_version` property.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param categoryId The ID of the category. It must be a leaf category. 
@return ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest
*/
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdGlobalRulesGet(ctx context.Context, categoryId string) ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest {
    return ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest{
        ApiService: a,
        ctx: ctx,
        categoryId: categoryId,
    }
}

// Execute executes the request
//  @return Product202309GetGlobalCategoryRulesResponse
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdGlobalRulesGetExecute(r ApiProduct202309CategoriesCategoryIdGlobalRulesGetRequest) (*product_v202309.Product202309GetGlobalCategoryRulesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetGlobalCategoryRulesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309CategoriesCategoryIdGlobalRulesGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/categories/{category_id}/global_rules"
    localVarPath = strings.Replace(localVarPath, "{"+"category_id"+"}", url.PathEscape(parameterValueToString(r.categoryId, "categoryId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    if r.locale != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309CategoriesCategoryIdRulesGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    categoryId string
    xTtsAccessToken *string
    contentType *string
    categoryVersion *string
    locale *string
    shopCipher *string
}

// 
func (r ApiProduct202309CategoriesCategoryIdRulesGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309CategoriesCategoryIdRulesGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309CategoriesCategoryIdRulesGetRequest) ContentType(contentType string) ApiProduct202309CategoriesCategoryIdRulesGetRequest {
    r.contentType = &contentType
    return r
}
// The category tree version that corresponds to the specified &#x60;category_id&#x60;. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: For US shops, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309CategoriesCategoryIdRulesGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309CategoriesCategoryIdRulesGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
// The BCP-47 locale codes for displaying category information.  Default: en-US Possible values: - de-DE - en-GB - en-IE - en-US - es-ES - es-MX - fr-FR - id-ID - it-IT - ja-JP - ms-MY - pt-BR - th-TH - vi-VN - zh-CN
func (r ApiProduct202309CategoriesCategoryIdRulesGetRequest) Locale(locale string) ApiProduct202309CategoriesCategoryIdRulesGetRequest {
    r.locale = &locale
    return r
}
// 
func (r ApiProduct202309CategoriesCategoryIdRulesGetRequest) ShopCipher(shopCipher string) ApiProduct202309CategoriesCategoryIdRulesGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiProduct202309CategoriesCategoryIdRulesGetRequest) Execute() (*product_v202309.Product202309GetCategoryRulesResponse, *http.Response, error) {
    return r.ApiService.Product202309CategoriesCategoryIdRulesGetExecute(r)
}

/*
Product202309CategoriesCategoryIdRulesGet GetCategoryRules
Retrieve the additional requirements (beyond mandatory product attributes) for listing a product in a particular category based on your shop's location. Requirements may include product certifications, size charts, dimensions and more.
Use this API to determine the supporting information that you must prepare before listing a product.
**Note**: It must be a [leaf category](6509c89d0fcef602bf1acd9b) that corresponds to the category tree type specified in the `category_version` property.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param categoryId The ID of the category. It must be a leaf category. 
@return ApiProduct202309CategoriesCategoryIdRulesGetRequest
*/
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdRulesGet(ctx context.Context, categoryId string) ApiProduct202309CategoriesCategoryIdRulesGetRequest {
    return ApiProduct202309CategoriesCategoryIdRulesGetRequest{
        ApiService: a,
        ctx: ctx,
        categoryId: categoryId,
    }
}

// Execute executes the request
//  @return Product202309GetCategoryRulesResponse
func (a *ProductV202309APIService) Product202309CategoriesCategoryIdRulesGetExecute(r ApiProduct202309CategoriesCategoryIdRulesGetRequest) (*product_v202309.Product202309GetCategoryRulesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetCategoryRulesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309CategoriesCategoryIdRulesGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/categories/{category_id}/rules"
    localVarPath = strings.Replace(localVarPath, "{"+"category_id"+"}", url.PathEscape(parameterValueToString(r.categoryId, "categoryId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    if r.locale != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309CategoriesGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    locale *string
    keyword *string
    categoryVersion *string
    listingPlatform *string
    includeProhibitedCategories *bool
    shopCipher *string
}

// 
func (r ApiProduct202309CategoriesGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309CategoriesGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309CategoriesGetRequest) ContentType(contentType string) ApiProduct202309CategoriesGetRequest {
    r.contentType = &contentType
    return r
}
// The BCP-47 locale codes for displaying category information. Default: The default locale of your shop. Possible values: - &#x60;de-DE&#x60; - &#x60;en-GB&#x60; - &#x60;en-IE&#x60; - &#x60;en-US&#x60; - &#x60;es-ES&#x60; - &#x60;es-MX&#x60; - &#x60;fr-FR&#x60; - &#x60;id-ID&#x60; - &#x60;it-IT&#x60; - &#x60;ja-JP&#x60; - &#x60;ms-MY&#x60; - &#x60;pt-BR&#x60; - &#x60;th-TH&#x60; - &#x60;vi-VN&#x60; - &#x60;zh-CN&#x60;
func (r ApiProduct202309CategoriesGetRequest) Locale(locale string) ApiProduct202309CategoriesGetRequest {
    r.locale = &locale
    return r
}
// Filter categories by this keyword in &#x60;local_name&#x60;.
func (r ApiProduct202309CategoriesGetRequest) Keyword(keyword string) ApiProduct202309CategoriesGetRequest {
    r.keyword = &keyword
    return r
}
// Filter categories by the category tree version. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: For US shops, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309CategoriesGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309CategoriesGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
// Filter categories by the specified platform. Possible values: - TIKTOK_SHOP - TOKOPEDIA Default: TIKTOK_SHOP  Applicable only for sellers that migrated from Tokopedia.
func (r ApiProduct202309CategoriesGetRequest) ListingPlatform(listingPlatform string) ApiProduct202309CategoriesGetRequest {
    r.listingPlatform = &listingPlatform
    return r
}
// A flag to indicate whether to include categories that are prohibited on TikTok Shop. Set this to &#x60;true&#x60; to identify which are the product categories that you can&#39;t list on TikTok Shop in any circumstances. Applicable only for BR, MX, EU and SEA markets.
func (r ApiProduct202309CategoriesGetRequest) IncludeProhibitedCategories(includeProhibitedCategories bool) ApiProduct202309CategoriesGetRequest {
    r.includeProhibitedCategories = &includeProhibitedCategories
    return r
}
// 
func (r ApiProduct202309CategoriesGetRequest) ShopCipher(shopCipher string) ApiProduct202309CategoriesGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiProduct202309CategoriesGetRequest) Execute() (*product_v202309.Product202309GetCategoriesResponse, *http.Response, error) {
    return r.ApiService.Product202309CategoriesGetExecute(r)
}

/*
Product202309CategoriesGet GetCategories
Retrieve the list of product categories available for your shop.
Product categories are updated frequently, so it's recommended to call the API in real time to ensure you are using the latest category data. Caching category data locally may result in using outdated information, leading to errors when creating products.
**For the Indonesia market**: To list a product on both TikTok Shop and Tokopedia, you must use only categories that are available on both platforms. Please call this API twice to identify the overlapping categories.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309CategoriesGetRequest
*/
func (a *ProductV202309APIService) Product202309CategoriesGet(ctx context.Context) ApiProduct202309CategoriesGetRequest {
    return ApiProduct202309CategoriesGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309GetCategoriesResponse
func (a *ProductV202309APIService) Product202309CategoriesGetExecute(r ApiProduct202309CategoriesGetRequest) (*product_v202309.Product202309GetCategoriesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetCategoriesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309CategoriesGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/categories"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.locale != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "")
    }
    if r.keyword != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "")
    }
    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    if r.listingPlatform != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "listing_platform", r.listingPlatform, "")
    }
    if r.includeProhibitedCategories != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "include_prohibited_categories", r.includeProhibitedCategories, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309CategoriesRecommendPostRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
    product202309RecommendCategoryRequestBody *product_v202309.Product202309RecommendCategoryRequestBody
}

// 
func (r ApiProduct202309CategoriesRecommendPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309CategoriesRecommendPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309CategoriesRecommendPostRequest) ContentType(contentType string) ApiProduct202309CategoriesRecommendPostRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiProduct202309CategoriesRecommendPostRequest) ShopCipher(shopCipher string) ApiProduct202309CategoriesRecommendPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiProduct202309CategoriesRecommendPostRequest) Product202309RecommendCategoryRequestBody(product202309RecommendCategoryRequestBody product_v202309.Product202309RecommendCategoryRequestBody) ApiProduct202309CategoriesRecommendPostRequest {
    r.product202309RecommendCategoryRequestBody = &product202309RecommendCategoryRequestBody
    return r
}
func (r ApiProduct202309CategoriesRecommendPostRequest) Execute() (*product_v202309.Product202309RecommendCategoryResponse, *http.Response, error) {
    return r.ApiService.Product202309CategoriesRecommendPostExecute(r)
}

/*
Product202309CategoriesRecommendPost RecommendCategory
Retrieve the recommended category for a candidate product based on its title, description, and images.
If you are syncing product catalogs from an external system to TikTok Shop, use this API to facilitate product categorization.
**Note**: The language used in text fields such as descriptions and titles must align with the target market's language (e.g. don't use Chinese).

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309CategoriesRecommendPostRequest
*/
func (a *ProductV202309APIService) Product202309CategoriesRecommendPost(ctx context.Context) ApiProduct202309CategoriesRecommendPostRequest {
    return ApiProduct202309CategoriesRecommendPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309RecommendCategoryResponse
func (a *ProductV202309APIService) Product202309CategoriesRecommendPostExecute(r ApiProduct202309CategoriesRecommendPostRequest) (*product_v202309.Product202309RecommendCategoryResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309RecommendCategoryResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309CategoriesRecommendPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/categories/recommend"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202309RecommendCategoryRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309FilesUploadPostRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    data *os.File
    name *string
}

// 
func (r ApiProduct202309FilesUploadPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309FilesUploadPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: multipart/form-data
func (r ApiProduct202309FilesUploadPostRequest) ContentType(contentType string) ApiProduct202309FilesUploadPostRequest {
    r.contentType = &contentType
    return r
}
// The local file to be uploaded.  **Note**： - Supported formats: PDF, MP4, MOV, MKV, WMV, WEBM, AVI, 3GP, FLV, MPEG - Max PDF size: 20 MB - Max video size: 100 MB - Video aspect ratio: 9:16 to 16:9  **Recommendations for product videos**: - Aspect ratio: 1:1  - Resolution: HD 720p or higher - Duration: 20 - 60 seconds 
func (r ApiProduct202309FilesUploadPostRequest) Data(data *os.File) ApiProduct202309FilesUploadPostRequest {
    r.data = data
    return r
}
// The name of the file, including the file extension (e.g. &#x60;certification.pdf&#x60;)  **Note**: - Do not use additional periods, except the one preceding the file extension. - Do not begin the name with symbols. - Do not include spaces.
func (r ApiProduct202309FilesUploadPostRequest) Name(name string) ApiProduct202309FilesUploadPostRequest {
    r.name = &name
    return r
}
func (r ApiProduct202309FilesUploadPostRequest) Execute() (*product_v202309.Product202309UploadProductFileResponse, *http.Response, error) {
    return r.ApiService.Product202309FilesUploadPostExecute(r)
}

/*
Product202309FilesUploadPost UploadProductFile
Upload non-image files, such as PDF or video to TikTok Shop. 
Use this API when you need to add videos to your product to improve the shopping experience, or submit certifications or reports to meet TikTok Shop requirements for listing restricted products. 
**Note**: You must store the response body to retrieve the ID or URL required to associate the file with a product during product creation or editing.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309FilesUploadPostRequest
*/
func (a *ProductV202309APIService) Product202309FilesUploadPost(ctx context.Context) ApiProduct202309FilesUploadPostRequest {
    return ApiProduct202309FilesUploadPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309UploadProductFileResponse
func (a *ProductV202309APIService) Product202309FilesUploadPostExecute(r ApiProduct202309FilesUploadPostRequest) (*product_v202309.Product202309UploadProductFileResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309UploadProductFileResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309FilesUploadPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/files/upload"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"multipart/form-data"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    var dataLocalVarFormFileName string
    var dataLocalVarFileName     string
    var dataLocalVarFileBytes    []byte

    dataLocalVarFormFileName = "data"
    dataLocalVarFile := r.data

    if dataLocalVarFile != nil {
        fbs, _ := io.ReadAll(dataLocalVarFile)

        dataLocalVarFileBytes = fbs
        dataLocalVarFileName = dataLocalVarFile.Name()
        dataLocalVarFile.Close()
        formFiles = append(formFiles, formFile{fileBytes: dataLocalVarFileBytes, fileName: dataLocalVarFileName, formFileName: dataLocalVarFormFileName})
    }
    if r.name != nil {
        parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "")
    }
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309GlobalCategoriesGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    locale *string
    keyword *string
    categoryVersion *string
}

// 
func (r ApiProduct202309GlobalCategoriesGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309GlobalCategoriesGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309GlobalCategoriesGetRequest) ContentType(contentType string) ApiProduct202309GlobalCategoriesGetRequest {
    r.contentType = &contentType
    return r
}
// The BCP-47 locale codes for displaying category information.  Default: en-US Possible values: - &#x60;de-DE&#x60; - &#x60;en-GB&#x60; - &#x60;en-IE&#x60; - &#x60;en-US&#x60; - &#x60;es-ES&#x60; - &#x60;es-MX&#x60; - &#x60;fr-FR&#x60; - &#x60;id-ID&#x60; - &#x60;it-IT&#x60; - &#x60;ja-JP&#x60; - &#x60;ms-MY&#x60; - &#x60;th-TH&#x60; - &#x60;vi-VN&#x60; - &#x60;zh-CN&#x60;
func (r ApiProduct202309GlobalCategoriesGetRequest) Locale(locale string) ApiProduct202309GlobalCategoriesGetRequest {
    r.locale = &locale
    return r
}
// Filter categories by this keyword in &#x60;local_name&#x60;.
func (r ApiProduct202309GlobalCategoriesGetRequest) Keyword(keyword string) ApiProduct202309GlobalCategoriesGetRequest {
    r.keyword = &keyword
    return r
}
// Filter categories by the category tree version. Possible values based on region: - US: &#x60;v2&#x60;, represents the 7-level category tree.   **Important**: If the seller account contains an active US shop, you must pass &#x60;v2&#x60; when using this API. - Other regions: &#x60;v1&#x60;, represents the 3-level category tree. Default: &#x60;v1&#x60;
func (r ApiProduct202309GlobalCategoriesGetRequest) CategoryVersion(categoryVersion string) ApiProduct202309GlobalCategoriesGetRequest {
    r.categoryVersion = &categoryVersion
    return r
}
func (r ApiProduct202309GlobalCategoriesGetRequest) Execute() (*product_v202309.Product202309GetGlobalCategoriesResponse, *http.Response, error) {
    return r.ApiService.Product202309GlobalCategoriesGetExecute(r)
}

/*
Product202309GlobalCategoriesGet GetGlobalCategories
Retrieve all available product categories, regardless of market variations.
Product categories are updated frequently, so it's recommended to call the API in real time to ensure you are using the latest category data. Caching category data locally may result in using outdated information, leading to errors when creating global products. 

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309GlobalCategoriesGetRequest
*/
func (a *ProductV202309APIService) Product202309GlobalCategoriesGet(ctx context.Context) ApiProduct202309GlobalCategoriesGetRequest {
    return ApiProduct202309GlobalCategoriesGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309GetGlobalCategoriesResponse
func (a *ProductV202309APIService) Product202309GlobalCategoriesGetExecute(r ApiProduct202309GlobalCategoriesGetRequest) (*product_v202309.Product202309GetGlobalCategoriesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetGlobalCategoriesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309GlobalCategoriesGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/global_categories"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    if r.locale != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "locale", r.locale, "")
    }
    if r.keyword != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "")
    }
    if r.categoryVersion != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "category_version", r.categoryVersion, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309GlobalCategoriesRecommendPostRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    product202309RecommendGlobalCategoriesRequestBody *product_v202309.Product202309RecommendGlobalCategoriesRequestBody
}

// 
func (r ApiProduct202309GlobalCategoriesRecommendPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309GlobalCategoriesRecommendPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309GlobalCategoriesRecommendPostRequest) ContentType(contentType string) ApiProduct202309GlobalCategoriesRecommendPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiProduct202309GlobalCategoriesRecommendPostRequest) Product202309RecommendGlobalCategoriesRequestBody(product202309RecommendGlobalCategoriesRequestBody product_v202309.Product202309RecommendGlobalCategoriesRequestBody) ApiProduct202309GlobalCategoriesRecommendPostRequest {
    r.product202309RecommendGlobalCategoriesRequestBody = &product202309RecommendGlobalCategoriesRequestBody
    return r
}
func (r ApiProduct202309GlobalCategoriesRecommendPostRequest) Execute() (*product_v202309.Product202309RecommendGlobalCategoriesResponse, *http.Response, error) {
    return r.ApiService.Product202309GlobalCategoriesRecommendPostExecute(r)
}

/*
Product202309GlobalCategoriesRecommendPost RecommendGlobalCategories
Retrieve the recommended categories for a candidate global product based on its title, description, and images.
If you are syncing product catalogs from an external system to TikTok Shop, use this API to facilitate product classification.
**Note**: Double-byte characters (e.g. Chinese characters) are not supported in text fields such as descriptions and titles. If you include them, the API request will fail.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309GlobalCategoriesRecommendPostRequest
*/
func (a *ProductV202309APIService) Product202309GlobalCategoriesRecommendPost(ctx context.Context) ApiProduct202309GlobalCategoriesRecommendPostRequest {
    return ApiProduct202309GlobalCategoriesRecommendPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309RecommendGlobalCategoriesResponse
func (a *ProductV202309APIService) Product202309GlobalCategoriesRecommendPostExecute(r ApiProduct202309GlobalCategoriesRecommendPostRequest) (*product_v202309.Product202309RecommendGlobalCategoriesResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309RecommendGlobalCategoriesResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309GlobalCategoriesRecommendPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/global_categories/recommend"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202309RecommendGlobalCategoriesRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309GlobalProductsDeleteRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    xTtsAccessToken *string
    contentType *string
    product202309DeleteGlobalProductsRequestBody *product_v202309.Product202309DeleteGlobalProductsRequestBody
}

// 
func (r ApiProduct202309GlobalProductsDeleteRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309GlobalProductsDeleteRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309GlobalProductsDeleteRequest) ContentType(contentType string) ApiProduct202309GlobalProductsDeleteRequest {
    r.contentType = &contentType
    return r
}
func (r ApiProduct202309GlobalProductsDeleteRequest) Product202309DeleteGlobalProductsRequestBody(product202309DeleteGlobalProductsRequestBody product_v202309.Product202309DeleteGlobalProductsRequestBody) ApiProduct202309GlobalProductsDeleteRequest {
    r.product202309DeleteGlobalProductsRequestBody = &product202309DeleteGlobalProductsRequestBody
    return r
}
func (r ApiProduct202309GlobalProductsDeleteRequest) Execute() (*product_v202309.Product202309DeleteGlobalProductsResponse, *http.Response, error) {
    return r.ApiService.Product202309GlobalProductsDeleteExecute(r)
}

/*
Product202309GlobalProductsDelete DeleteGlobalProducts
Delete global products that you no longer need.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202309GlobalProductsDeleteRequest
*/
func (a *ProductV202309APIService) Product202309GlobalProductsDelete(ctx context.Context) ApiProduct202309GlobalProductsDeleteRequest {
    return ApiProduct202309GlobalProductsDeleteRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202309DeleteGlobalProductsResponse
func (a *ProductV202309APIService) Product202309GlobalProductsDeleteExecute(r ApiProduct202309GlobalProductsDeleteRequest) (*product_v202309.Product202309DeleteGlobalProductsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodDelete
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309DeleteGlobalProductsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309GlobalProductsDelete")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/global_products"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202309DeleteGlobalProductsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309GlobalProductsGlobalProductIdGetRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    globalProductId string
    xTtsAccessToken *string
    contentType *string
}

// 
func (r ApiProduct202309GlobalProductsGlobalProductIdGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309GlobalProductsGlobalProductIdGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309GlobalProductsGlobalProductIdGetRequest) ContentType(contentType string) ApiProduct202309GlobalProductsGlobalProductIdGetRequest {
    r.contentType = &contentType
    return r
}
func (r ApiProduct202309GlobalProductsGlobalProductIdGetRequest) Execute() (*product_v202309.Product202309GetGlobalProductResponse, *http.Response, error) {
    return r.ApiService.Product202309GlobalProductsGlobalProductIdGetExecute(r)
}

/*
Product202309GlobalProductsGlobalProductIdGet GetGlobalProduct
Retrieve all properties of a global product that is in the "DRAFT", "UNPUBLISHED", or "PUBLISHED" status, and the corresponding local product IDs in the published markets.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param globalProductId Global product ID
@return ApiProduct202309GlobalProductsGlobalProductIdGetRequest
*/
func (a *ProductV202309APIService) Product202309GlobalProductsGlobalProductIdGet(ctx context.Context, globalProductId string) ApiProduct202309GlobalProductsGlobalProductIdGetRequest {
    return ApiProduct202309GlobalProductsGlobalProductIdGetRequest{
        ApiService: a,
        ctx: ctx,
        globalProductId: globalProductId,
    }
}

// Execute executes the request
//  @return Product202309GetGlobalProductResponse
func (a *ProductV202309APIService) Product202309GlobalProductsGlobalProductIdGetExecute(r ApiProduct202309GlobalProductsGlobalProductIdGetRequest) (*product_v202309.Product202309GetGlobalProductResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309GetGlobalProductResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309GlobalProductsGlobalProductIdGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/global_products/{global_product_id}"
    localVarPath = strings.Replace(localVarPath, "{"+"global_product_id"+"}", url.PathEscape(parameterValueToString(r.globalProductId, "globalProductId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    globalProductId string
    xTtsAccessToken *string
    contentType *string
    product202309UpdateGlobalInventoryRequestBody *product_v202309.Product202309UpdateGlobalInventoryRequestBody
}

// 
func (r ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest) ContentType(contentType string) ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest) Product202309UpdateGlobalInventoryRequestBody(product202309UpdateGlobalInventoryRequestBody product_v202309.Product202309UpdateGlobalInventoryRequestBody) ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest {
    r.product202309UpdateGlobalInventoryRequestBody = &product202309UpdateGlobalInventoryRequestBody
    return r
}
func (r ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest) Execute() (*product_v202309.Product202309UpdateGlobalInventoryResponse, *http.Response, error) {
    return r.ApiService.Product202309GlobalProductsGlobalProductIdInventoryUpdatePostExecute(r)
}

/*
Product202309GlobalProductsGlobalProductIdInventoryUpdatePost UpdateGlobalInventory
Update the inventory of unpublished global products if you have access to the Multi-Warehouse feature.
The inventory of published global products will not be affected by this update operation.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param globalProductId The global product ID to be updated.
@return ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest
*/
func (a *ProductV202309APIService) Product202309GlobalProductsGlobalProductIdInventoryUpdatePost(ctx context.Context, globalProductId string) ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest {
    return ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest{
        ApiService: a,
        ctx: ctx,
        globalProductId: globalProductId,
    }
}

// Execute executes the request
//  @return Product202309UpdateGlobalInventoryResponse
func (a *ProductV202309APIService) Product202309GlobalProductsGlobalProductIdInventoryUpdatePostExecute(r ApiProduct202309GlobalProductsGlobalProductIdInventoryUpdatePostRequest) (*product_v202309.Product202309UpdateGlobalInventoryResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309UpdateGlobalInventoryResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309GlobalProductsGlobalProductIdInventoryUpdatePost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/global_products/{global_product_id}/inventory/update"
    localVarPath = strings.Replace(localVarPath, "{"+"global_product_id"+"}", url.PathEscape(parameterValueToString(r.globalProductId, "globalProductId")), -1)

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202309UpdateGlobalInventoryRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest struct {
    ctx context.Context
    ApiService *ProductV202309APIService
    globalProductId string
    xTtsAccessToken *string
    contentType *string
    product202309PublishGlobalProductRequestBody *product_v202309.Product202309PublishGlobalProductRequestBody
}

// 
func (r ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest) ContentType(contentType string) ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest) Product202309PublishGlobalProductRequestBody(product202309PublishGlobalProductRequestBody product_v202309.Product202309PublishGlobalProductRequestBody) ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest {
    r.product202309PublishGlobalProductRequestBody = &product202309PublishGlobalProductRequestBody
    return r
}
func (r ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest) Execute() (*product_v202309.Product202309PublishGlobalProductResponse, *http.Response, error) {
    return r.ApiService.Product202309GlobalProductsGlobalProductIdPublishPostExecute(r)
}

/*
Product202309GlobalProductsGlobalProductIdPublishPost PublishGlobalProduct
Publish and convert a global product to local products in one or multiple shops in supported markets. After publishing, the product is sent for review by TikTok Shop in the respective markets. For sellers in the EU market, the provided information will also be automatically translated into all EU languages supported by TikTok Shop.
**Note**: 
- You can only publish in each market once. To change product information, edit the global product by using the [Edit Global Product API](6509e1bcc16ffe02b8dc3cd7). The changes will be automatically synchronized to all markets where the product is published
- Use the [Get Product API](6509d85b4a0bb702c057fdda) to obtain the converted local product information in the target market's language. 
- Use the [Edit Product API](6509da7d0fcef602bf1caddf) or [Partial Edit Product API](650a98d74a0bb702c06c3289) to edit the local product information, if necessary.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@param globalProductId The global product id.
@return ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest
*/
func (a *ProductV202309APIService) Product202309GlobalProductsGlobalProductIdPublishPost(ctx context.Context, globalProductId string) ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest {
    return ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest{
        ApiService: a,
        ctx: ctx,
        globalProductId: globalProductId,
    }
}

// Execute executes the request
//  @return Product202309PublishGlobalProductResponse
func (a *ProductV202309APIService) Product202309GlobalProductsGlobalProductIdPublishPostExecute(r ApiProduct202309GlobalProductsGlobalProductIdPublishPostRequest) (*product_v202309.Product202309PublishGlobalProductResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202309.Product202309PublishGlobalProductResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202309APIService.Product202309GlobalProductsGlobalProductIdPublishPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202309/global_products/{global_product_id}/publish"
[...]
