openapi: 3.0.0
info:
  description: sdk for apis
  title: tiktok shop openapi
  version: 1.0.0
servers:
- description: open-api tiktokglobalshop
  url: https://open-api.tiktokglobalshop.com
paths:
  /analytics/202405/shop/performance:
    get:
      description: "Returns performance metrics at shop/seller level. This API currently\
        \ provides data only for shops registered in the United States, United Kingdom,\
        \ Singapore, Vietnam, and Thailand."
      parameters:
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-04-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-04-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Whether previous period data is returned for comparison.
          Available values: true, false
          Default value: false
          The previous period has the same length and granularity as the current period with end time being the same as the start time of the current period.
          Example:
          If start_time_ge = 2024-04-01 and end_time_lt = 2024-04-08, the previous period data will be from 2024-03-25 to 2024-04-01.
        example: "true"
        explode: true
        in: query
        name: with_comparison
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Granularity of the data.
          Available values: ALL, 1D
          Default value: ALL
          * ALL: aggregate
          * 1D: daily
        example: ALL
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: LOCAL
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202405_GetShopPerformance_Response'
          description: Successful response
      summary: GetShopPerformance
      tags:
      - analytics_v202405
  /analytics/202405/shop_products/performance:
    get:
      description: "Returns a list of product performance metrics. This API currently\
        \ provides data only for shops registered in the United States, United Kingdom,\
        \ Singapore, Vietnam, and Thailand."
      parameters:
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-04-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-04-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Number of products per page.
          Max value: 100
          Default value: 10
        example: "10"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          Sort on.
          Available values: gmv, order_count, unit_sold_count, click_through_rate
          Default value: gmv
        example: gmv
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Sort direction.
          Available values: ASC, DESC
          Default value: DESC
          * ASC: ascending
          * DESC: descending
        example: DESC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: LOCAL
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Page token, indicating the current position. Used for requesting next page data.
          Leave this field empty for first time queries.
        example: cGFnZV9udW1iZXI9MQ==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202405_GetShopProductPerformanceList_Response'
          description: Successful response
      summary: GetShopProductPerformanceList
      tags:
      - analytics_v202405
  /analytics/202405/shop_products/{product_id}/performance:
    get:
      description: "Returns performance metrics for a product. This API currently\
        \ provides data only for shops registered in the United States, United Kingdom,\
        \ Singapore, Vietnam, and Thailand."
      parameters:
      - description: ""
        example: ""
        explode: false
        in: path
        name: product_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-04-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-04-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Whether previous period data is returned for comparison.
          Available values: true, false
          Default value: false
          The previous period has the same length and granularity as the current period with end time being the same as the start time of the current period.
          Example:
          If start_time_ge = 2024-04-01 and end_time_lt = 2024-04-08, the previous period data will be from 2024-03-25 to 2024-04-01.
        example: "true"
        explode: true
        in: query
        name: with_comparison
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Granularity of the data.
          Available values: ALL, 1D
          Default value: ALL
          * ALL: aggregate
          * 1D: daily
        example: ALL
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: LOCAL
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202405_GetShopProductPerformance_Response'
          description: Successful response
      summary: GetShopProductPerformance
      tags:
      - analytics_v202405
  /analytics/202406/shop_skus/performance:
    get:
      description: "Returns a list of SKU performance metrics. This API currently\
        \ provides data only for shops registered in the United States, United Kingdom,\
        \ Singapore, Vietnam, and Thailand."
      parameters:
      - description: "Start time (ISO 8601 YYYY-MM-DD format) in shop registered timezone,\
          \ inclusive."
        example: 2024-04-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: "End time (ISO 8601 YYYY-MM-DD format) in shop registered timezone,\
          \ exclusive."
        example: 2024-04-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: Number of records per page. The maximum page_size value is 100
        example: "10"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Sort field, possible values:
          -  gmv (default)
          - sku_orders
          - units_sold
        example: gmv
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Sort direction, possible values:
          - DESC (default)
          - ASC
        example: DESC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: "Page token, indicating the current position. The page_token\
          \ is empty by default, indicating first position."
        example: cGFnZV9udW1iZXI9MQ==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: "Filter SKUs by product ID. If a product_id is provided, the\
          \ API will only return SKUs for the given product ID, otherwise it will\
          \ return all SKUs for the shop"
        example: "123456789"
        explode: true
        in: query
        name: product_id
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency:
          - USD: US dollars
          - LOCAL (default): Local currency where the shop is located
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202406_GetShopSKUPerformanceList_Response'
          description: Successful response
      summary: GetShopSKUPerformanceList
      tags:
      - analytics_v202406
  /analytics/202406/shop_skus/{sku_id}/performance:
    get:
      description: "Return SKU performance metrics. This API currently provides data\
        \ only for shops registered in the United States, United Kingdom, Singapore,\
        \ Vietnam, and Thailand."
      parameters:
      - description: ""
        example: ""
        explode: false
        in: path
        name: sku_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Start time (ISO 8601 YYYY-MM-DD format) in shop registered timezone,\
          \ inclusive."
        example: 2024-04-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: "End time (ISO 8601 YYYY-MM-DD format) in shop registered timezone,\
          \ exclusive."
        example: 2024-04-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Whether previous period data is returned for comparison. true | false. Default value is false
          The previous period has the same length and granularity as the current period with end time being the same as the start time of the current period.
          Example:
          If start_date_ge = 2024-04-01 and end_date_lt = 2024-04-08, the previous period data will be from 2024-03-25 to 2024-04-01.
        example: "true"
        explode: true
        in: query
        name: with_comparison
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Granularity of the data.
          Available values: ALL, 1D
          Default value: ALL
          * ALL: aggregate
          * 1D: daily
        example: ALL
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency:
          - USD: US dollars
          - LOCAL (default): Local currency where the shop is located
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202406_GetShopSKUPerformance_Response'
          description: Successful response
      summary: GetShopSKUPerformance
      tags:
      - analytics_v202406
  /analytics/202409/shop_videos/overview_performance:
    get:
      description: "Returns overall performance metrics for all videos under a shop.\
        \ This API currently provides data only for shops registered in the United\
        \ States, United Kingdom, Singapore, Vietnam, and Thailand."
      parameters:
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-09-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-09-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Whether previous period data is returned for comparison.
          Available values: true, false
          Default value: false
          The previous period has the same length and granularity as the current period with end time being the same as the start time of the current period.
          Example:
          If start_time_ge = 2024-04-01 and end_time_lt = 2024-04-08, the previous period data will be from 2024-03-25 to 2024-04-01.
        example: "true"
        explode: true
        in: query
        name: with_comparison
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Granularity of the data.
          Available values: ALL, 1D
          Default value: ALL
          * ALL: aggregate
          * 1D: daily
        example: ALL
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Types of the accounts under which videos were created.
          Available values: ALL, LINKED_ACCOUNTS, AFFILIATES
          Default value: ALL
          * ALL: all account types
          * LINKED_ACCOUNTS: linked account types, includes official and marketing account types
          * AFFILIATES: affiliate account type
        example: ALL
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202409_GetShopVideoPerformanceOverview_Response'
          description: Successful response
      summary: GetShopVideoPerformanceOverview
      tags:
      - analytics_v202409
  /analytics/202409/shop_videos/performance:
    get:
      description: "Returns a list of videos and associated metrics for a shop. This\
        \ API currently provides data only for shops registered in the United States,\
        \ United Kingdom, Singapore, Vietnam, and Thailand."
      parameters:
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-09-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-09-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Number of products per page.
          Max value: 100
          Default value: 10
        example: "10"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          Sort on.
          Available values: gmv, sku_orders, units_sold, views, click_through_rate
          Default value: gmv
        example: gmv
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Sort direction.
          Available values: ASC, DESC
          Default value: DESC
          * ASC: ascending
          * DESC: descending
        example: DESC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Page token, indicating the current position. Used for requesting next page data.
          Leave this field empty for first time queries.
        example: cGFnZV9udW1iZXI9MQ==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Types of the accounts under which videos were created.
          Available values: ALL, LINKED_ACCOUNTS, AFFILIATES
          Default value: ALL
          * ALL: all account types
          * LINKED_ACCOUNTS: linked account types, includes official and marketing account types
          * AFFILIATES: affiliate account type
        example: ALL
        explode: true
        in: query
        name: account_type
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202409_GetShopVideoPerformanceList_Response'
          description: Successful response
      summary: GetShopVideoPerformanceList
      tags:
      - analytics_v202409
  /analytics/202409/shop_videos/{video_id}/performance:
    get:
      description: "Returns detailed performance metrics for a (requested) video.\
        \ This API currently provides data only for shops registered in the United\
        \ States, United Kingdom, Singapore, Vietnam, and Thailand."
      parameters:
      - description: Video ID
        example: "1111"
        explode: false
        in: path
        name: video_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-09-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-09-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Whether previous period data is returned for comparison.
          Available values: true, false
          Default value: false
          The previous period has the same length and granularity as the current period with end time being the same as the start time of the current period.
          Example:
          If start_time_ge = 2024-04-01 and end_time_lt = 2024-04-08, the previous period data will be from 2024-03-25 to 2024-04-01.
        example: "true"
        explode: true
        in: query
        name: with_comparison
        required: false
        schema:
          type: boolean
        style: form
      - description: |-
          Granularity of the data.
          Available values: ALL, 1D
          Default value: ALL
          * ALL: aggregate
          * 1D: daily
        example: ALL
        explode: true
        in: query
        name: granularity
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202409_GetShopVideoPerformanceDetails_Response'
          description: Successful response
      summary: GetShopVideoPerformanceDetails
      tags:
      - analytics_v202409
  /analytics/202409/shop_videos/{video_id}/products/performance:
    get:
      description: "Returns performance metrics for a list of products promoted in\
        \ a given video. This API currently provides data only for shops registered\
        \ in the United States, United Kingdom, Singapore, Vietnam, and Thailand."
      parameters:
      - description: ""
        example: ""
        explode: false
        in: path
        name: video_id
        required: true
        schema:
          type: string
        style: simple
      - description: |-
          End date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "lt" refers to "less than" (exclusive)
        example: 2024-09-08
        explode: true
        in: query
        name: end_date_lt
        required: true
        schema:
          type: string
        style: form
      - description: |-
          Number of products per page.
          Max value: 100
          Default value: 10
        example: "10"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: |-
          Sort on.
          Available values: gmv, units_sold, daily_avg_buyers
          Default value: gmv
        example: gmv
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Sort direction.
          Available values: ASC, DESC
          Default value: DESC
          * ASC: ascending
          * DESC: descending
        example: DESC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Currency.
          Available values: USD, LOCAL
          Default value: LOCAL
          * USD: US dollars
          * LOCAL: local currency where the shop is located
        example: USD
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Page token, indicating the current position. Used for requesting next page data.
          Leave this field empty for first time queries.
        example: cGFnZV9udW1iZXI9MQ==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Start date (ISO 8601 YYYY-MM-DD format) in shop registered timezone.
          In the parameter name, "ge" refers to "greater than or equal to" (inclusive)
        example: 2024-09-01
        explode: true
        in: query
        name: start_date_ge
        required: true
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics_202409_GetShopVideoProductPerformanceList_Response'
          description: Successful response
      summary: GetShopVideoProductPerformanceList
      tags:
      - analytics_v202409
  /authorization/202309/shops:
    get:
      description: "Retrieves the list of shops that a seller has authorized for an\
        \ app.\nSeller authorization is required before an app can access the data\
        \ of a shop. Use this API to check which shops are currently authorized for\
        \ an app and obtain the corresponding shop cipher for use as an input parameter\
        \ in shop related APIs. \nFor more information about seller authorization,\
        \ refer to [Seller authorization guide](https://partner.tiktokshop.com/docv2/page/678e3a344ddec3030b238fa0).\n\
        Target seller: All"
      parameters:
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization_202309_GetAuthorizedShops_Response'
          description: Successful response
      summary: GetAuthorizedShops
      tags:
      - authorization_v202309
  /authorization/202312/widget_token:
    get:
      description: 'this open api is used to generate a widget token   '
      parameters:
      - description: shopID is not needed
        example: "78343412345569990"
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization_202312_GetWidgetToken_Response'
          description: Successful response
      summary: GetWidgetToken
      tags:
      - authorization_v202312
  /authorization/202401/widget_token:
    get:
      description: 'this open api is used to generate a widget token   '
      parameters:
      - description: shopID is not needed
        example: "78343412345569990"
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization_202401_GetWidgetToken_Response'
          description: Successful response
      summary: GetWidgetToken
      tags:
      - authorization_v202401
  /authorization/202403/shops:
    delete:
      description: This API is used  for developers to deauthorize a shop and notify
        the seller about this action by email
      parameters:
      - description: "Shop_cipher is required for cross-border shops, and optional\
          \ for local shops. It's unique for each shop. Get the this property from\
          \ the Get Authorized Shop API dynamically. Use this property to pass shop\
          \ information in requesting the API. Failure in passing the correct value\
          \ when requesting the API for cross-border shops will return incorrect response."
        example: GCP_XF90igAAAABh00qsWgtvOiGFNqyubMt3
        explode: true
        in: query
        name: shop_cipher
        required: true
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization_202403_DeauthorizeShop_Response'
          description: Successful response
      summary: DeauthorizeShop
      tags:
      - authorization_v202403
  /data_reconciliation/202309/orders/sync:
    post:
      description: "TikTok Shop-Connector exchange order data from DTC(Direct To Consumer)\
        \ platform to Tiktok Shop-QE system to compare the order data of DTC platform\
        \ and Tiktok Shop. Which systems of users are involved with the API? For example,\
        \ DTC platform Connector App, Shipping App, WMS, PIM, Multi Channel App, etc."
      parameters:
      - description: Tiktok shop seller shop id.
        example: "7494896646893243238"
        explode: true
        in: query
        name: shop_id
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataReconciliation_202309_OrderStatusDataExchange_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataReconciliation_202309_OrderStatusDataExchange_Response'
          description: Successful response
      summary: OrderStatusDataExchange
      tags:
      - data_reconciliation_v202309
  /data_reconciliation/202310/orders/import:
    post:
      description: "TikTok Shop-Connector exchange order data from DTC(Direct To Consumer)\
        \ platform to Tiktok Shop-QE system to compare the order data of DTC platform\
        \ and Tiktok Shop. Which systems of users are involved with the API? For example,\
        \ DTC platform Connector App, Shipping App, WMS, PIM, Multi Channel App, etc."
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataReconciliation_202310_QualityFactoryOrderDataImportAPI_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataReconciliation_202310_QualityFactoryOrderDataImportAPI_Response'
          description: Successful response
      summary: QualityFactoryOrderDataImportAPI
      tags:
      - data_reconciliation_v202310
  /data_reconciliation/202401/orders/import:
    post:
      description: "TikTok Shop-Connector exchange order data from DTC(Direct To Consumer)\
        \ platform to Tiktok Shop-QE system to compare the order data of DTC platform\
        \ and Tiktok Shop. Which systems of users are involved with the API? For example,\
        \ DTC platform Connector App, Shipping App, WMS, PIM, Multi Channel App, etc."
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataReconciliation_202401_QualityFactoryOrderDataImportAPI_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataReconciliation_202401_QualityFactoryOrderDataImportAPI_Response'
          description: Successful response
      summary: QualityFactoryOrderDataImportAPI
      tags:
      - data_reconciliation_v202401
  /event/202309/webhooks:
    delete:
      description: "Deletes the shop's webhook URL for a specific event topic. \n\
        Regardless of whether webhook is configured or not, the result will return\
        \ success."
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event_202309_DeleteShopWebhook_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_202309_DeleteShopWebhook_Response'
          description: Successful response
      summary: DeleteShopWebhook
      tags:
      - event_v202309
    get:
      description: Retrieves a shop's webhooks and the corresponding webhook URLs.
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_202309_GetShopWebhooks_Response'
          description: Successful response
      summary: GetShopWebhooks
      tags:
      - event_v202309
    put:
      description: Updates the shop's webhook URL for a specific event topic.
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event_202309_UpdateShopWebhook_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event_202309_UpdateShopWebhook_Response'
          description: Successful response
      summary: UpdateShopWebhook
      tags:
      - event_v202309
  /fbt/202408/inventory/search:
    post:
      description: "This API is used to retrieve detailed inventory information for\
        \ goods and matched SKUs, including sellable inventory, reserved inventory,\
        \ unsellable inventory, and in-transit inventory at the warehouse level."
      parameters:
      - description: "The number of results to be returned per page. \nValid range:\
          \ [1-100]."
        example: "50"
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Pagination page token. It should be empty for the first page.
        example: cGFnZV9udW1iZXI9Mg==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fbt_202408_SearchFBTInventory_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fbt_202408_SearchFBTInventory_Response'
          description: Successful response
      summary: SearchFBTInventory
      tags:
      - fbt_v202408
  /fbt/202408/warehouses:
    get:
      description: "This API is used to retrieve all Fulfilled by TikTok warehouse\
        \ information including the warehouse name, warehouse address information,\
        \ etc. The IDs of subscribed warehouses can be used to query inventory-related\
        \ information."
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fbt_202408_GetFBTWarehouseList_Response'
          description: Successful response
      summary: GetFBTWarehouseList
      tags:
      - fbt_v202408
  /fbt/202409/goods/search:
    post:
      description: "This API is used to retrieve a list of goods belonging to the\
        \ merchant that meet the specified conditions. It returns detailed information\
        \ about the goods, including their IDs, names, and other attributes, such\
        \ as the goods-SKU relationship, dimensions, and weight as verified by the\
        \ warehouse."
      parameters:
      - description: "The number of results to be returned per page. \nValid range:\
          \ [1-100]."
        example: "50"
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: An opaque token used to retrieve the next page of a paginated
          result set. Retrieve this value from the result of the `next_page_token`
          from a previous response. It is not needed for the first page.
        example: cGFnZV9udW1iZXI9Mg==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fbt_202409_SearchGoodsInfo_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fbt_202409_SearchGoodsInfo_Response'
          description: Successful response
      summary: SearchGoodsInfo
      tags:
      - fbt_v202409
  /fbt/202409/inbound_orders:
    get:
      description: "This API is used to retrieve the inbound order details including\
        \ the planned inbound detail, actual inbound detail and inbound status, etc."
      parameters:
      - description: |-
          A list of inbound order IDs needs to be queried. The API will return the inbound order information for these IDs.
          Note: The inbound ID consists of a series of numbers without the "IBR" prefix.
          You can get the value in `data.inbound_order_id` in [Inbound FBT order status change](6708f866a88d1103246fed6a) webhook or in `data.inventory_records.order.id` in the response of [Search FBT Inventory Record](670d584ba83c5f030f3071e4).
        example: "23230232324"
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fbt_202409_GetInboundOrder_Response'
          description: Successful response
      summary: GetInboundOrder
      tags:
      - fbt_v202409
  /fbt/202409/merchants/onboarded_regions:
    get:
      description: "This API verifies whether a seller is registered as a Fulfillment\
        \ by TikTok (FBT) merchant. If the seller is onboarded, the API returns the\
        \ regions where the merchant is authorized to operate under the FBT system."
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fbt_202409_GetFBTMerchantOnboardedRegions_Response'
          description: Successful response
      summary: GetFBTMerchantOnboardedRegions
      tags:
      - fbt_v202409
  /fbt/202410/inventory_records/search:
    post:
      description: This API is used to retrieve detailed inventory change records
        for goods at the warehouse level.
      parameters:
      - description: "The number of results to be returned per page. \nValid range:\
          \ [1-100]."
        example: "50"
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Pagination page token. It should be empty for the first page.
        example: cGFnZV9udW1iZXI9Mg==
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fbt_202410_SearchFBTInventoryRecord_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fbt_202410_SearchFBTInventoryRecord_Response'
          description: Successful response
      summary: SearchFBTInventoryRecord
      tags:
      - fbt_v202410
  /finance/202309/orders/{order_id}/statement_transactions:
    get:
      description: |-
        **This API is currently exclusive to the following markets: US, UK.**
        Retrieves the transactions associated with an order, including both order-level transactions and SKU-level detailed transactions. This covers all transactions related to sales, fees, commissions, shipping, taxes, adjustments, and refunds.
      parameters:
      - description: The order ID in TikTok Shop.
        example: "5793990727963214852"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202309_GetTransactionsbyOrder_Response'
          description: Successful response
      summary: GetTransactionsbyOrder
      tags:
      - finance_v202309
  /finance/202309/payments:
    get:
      description: |-
        **This API is currently unavailable to SEA markets.**
        Retrieves records of automated payments for a shop based on a specified date range.
        Use the returned list to verify and reconcile payments with the transactions in the seller's bank account.
      parameters:
      - description: |-
          Filter payments to show only those that occurred before the specified date and time. Unix timestamp.
          Refer to notes in `create_time_ge` for more usage information.
        example: "1687266376"
        explode: true
        in: query
        name: create_time_lt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The number of results to be returned per page. \nDefault: 20\n\
          Valid range: [1-100]"
        example: "20"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int8
        style: form
      - description: An opaque token used to retrieve the next page of a paginated
          result set. Retrieve this value from the result of the `next_page_token`
          from a previous response. It is not needed for the first page.
        example: 6AsPQsUMvH3RkchNUPPh22NROHkE0D8pmq/N5M1kHYcZmtRyv9aVrNv65W7Q6tFA+7D1ud64MPNz5Oa
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: The returned results will be sorted by the specified field. Only
          supports `create_time`.
        example: create_time
        explode: true
        in: query
        name: sort_field
        required: true
        schema:
          type: string
        style: form
      - description: "The sort order for the `sort_field` parameter. \nDefault: ASC\
          \ \nPossible values:\n- ASC: Ascending order\n- DESC: Descending order"
        example: ASC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter payments to show only those that occurred on or after the specified date and time. Unix timestamp.

          **Note:**
          `create_time_ge` and `create_time_lt` together constitute the creation time filter condition.
          - If `create_time_ge` is filled but `create_time_lt` is empty, `create_time_lt` will default to the current time.
          - If `create_time_lt` is filled but `create_time_ge` is empty, `create_time_ge` will default to the earliest shop time.
        example: "1687266376"
        explode: true
        in: query
        name: create_time_ge
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202309_GetPayments_Response'
          description: Successful response
      summary: GetPayments
      tags:
      - finance_v202309
  /finance/202309/statements:
    get:
      description: |-
        Retrieves the statements generated for a shop and the key statement information based on a specified date range or their payment status. Use this API to get an overview of your daily statements over a range of time, or to find out which statements have been paid or not. For the detailed transactions, refer to [Get Statement Transactions](650a6749defece02be67da87) or [Get Order Statement Transactions](650a6734defece02be67d724).
        Applicable for all regions' sellers. Only data after 2023-07-01 is available.
      parameters:
      - description: |-
          Filter statements to show only those that are generated before the specified date and time. Unix timestamp.
          Refer to notes in `statement_time_ge` for more usage information.
        example: "1623812664"
        explode: true
        in: query
        name: statement_time_lt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: |-
          Filter statements based on the payment status.
          Possible values:
          - PAID: Payment has been transferred to the seller.
          - FAILED: Payment transfer failed.
          - PROCESSING: Payment is currently being processed.
          Default: All statuses are returned.
        example: PAID
        explode: true
        in: query
        name: payment_status
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results to be returned per page. \nDefault: 20\n\
          Valid range: [1-100]"
        example: "20"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int8
        style: form
      - description: An opaque token used to retrieve the next page of a paginated
          result set. Retrieve this value from the result of the `next_page_token`
          from a previous response. It is not needed for the first page.
        example: 6AsPQsUMvH3RkchNUPPh22NROHkE0D8pmq/N5M1kHYcZmtRyv9aVrNv65W7Q6tFA+7D1ud64MPNz5OaT
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: The returned results will be sorted by the specified field. Only
          supports `statement_time`.
        example: statement_time
        explode: true
        in: query
        name: sort_field
        required: true
        schema:
          type: string
        style: form
      - description: "The sort order for the `sort_field` parameter. \nDefault: ASC\
          \ \nPossible values:\n- ASC: Ascending order\n- DESC: Descending order"
        example: ASC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter statements to show only those that are generated on or after the specified date and time. Unix timestamp.

          **Note:**
          `statement_time_ge` and `statement_time_le` together constitute the creation time filter condition.
          - If `statement_time_ge` is filled but `statement_time_lt` is empty, `statement_time_lt` will default to the current time.
          - If `statement_time_lt` is filled but `statement_time_ge` is empty, `statement_time_ge` will default to the earliest shop time.

          **Example:**
          As statements are generated daily at 00:00 UTC, to retrieve statements for the period from Oct 5 to Oct 10, configure the parameters as follows:
          - Set `statement_time_ge` to 00:00 on Oct 6  or any time on Oct 5 (excluding 00:00).
          - Set `statement_time_lt` to any time on Oct 11 (excluding 00:00).
        example: "1623812664"
        explode: true
        in: query
        name: statement_time_ge
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202309_GetStatements_Response'
          description: Successful response
      summary: GetStatements
      tags:
      - finance_v202309
  /finance/202309/statements/{statement_id}/statement_transactions:
    get:
      description: "Only for UK and US local sellers. Get a list of transactions based\
        \ on statement_id. We will return a list of orders. If you require the SKU\
        \ level transaction details, pass in the order_id to Get Order Statement Transactions."
      parameters:
      - description: The unique id of statement
        example: "7238804564097517339"
        explode: false
        in: path
        name: statement_id
        required: true
        schema:
          type: string
        style: simple
      - description: The default is empty string
        example: 6AsPQsUMvH3RkchNUPPh22NROHkE0D8pmq/N5M1kHYcZmtRyv9aVrNv65W7Q6tFA+7D1ud64MPNz5OaT
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: "Only support: order_create_time"
        example: order_create_time
        explode: true
        in: query
        name: sort_field
        required: true
        schema:
          type: string
        style: form
      - description: "The default is ASC, the developer can choose ASC or DESC"
        example: DESC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: "The default is 20. It must be a positive integer,the range is\
          \ 1-100"
        example: "20"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int8
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202309_GetTransactionsbyStatement_Response'
          description: Successful response
      summary: GetTransactionsbyStatement
      tags:
      - finance_v202309
  /finance/202309/withdrawals:
    get:
      description: 'Get the list of the withdrawal records (when Seller''s withdraw
        money from TikTokShop) based on the specified date range. '
      parameters:
      - description: Unix timestamp representing the end of transactions time range
          one wants to request
        example: "1623812664"
        explode: true
        in: query
        name: create_time_lt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "The type of transaction.\nPossible values:\n- WITHDRAW：The action\
          \ of the seller to receive the settlement amount to the bank card through\
          \ the action of withdrawal\n- SETTLE：The platform settles the amount to\
          \ the seller\n- TRANSFER：Platform subsidies or deductions due to platform\
          \ policies\n- REVERSE：Withdrawal failure due to incorrect bank card "
        example: "WITHDRAW,SETTLE"
        explode: true
        in: query
        name: types
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "The default is 20, it must be positive integer,the range is\
          \ 1-100"
        example: "20"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The next page token
        example: 6AsPQsUMvH3RkchNUPPh22NROHkE0D8pmq/N5M1kHYcZmtRyv9aVrNv65W7Q6tFA+7D1ud64MPNz5OaT
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: Unix timestamp representing the start of transactions time range
          one wants to request
        example: "1623812664"
        explode: true
        in: query
        name: create_time_ge
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202309_GetWithdrawals_Response'
          description: Successful response
      summary: GetWithdrawals
      tags:
      - finance_v202309
  /finance/202501/orders/{order_id}/statement_transactions:
    get:
      description: |-
        Retrieves the SKU-level details of an order transaction. This covers transactions related to sales, fees, commissions, shipping, taxes, and refunds.
        Applicable for all regions' sellers. Only data after 2023-07-01 is available (Please note that for US cross-border sellers, data before 2025-04-30 is unavailable).
      parameters:
      - description: The order ID in TikTok Shop.
        example: "5793990727963214852"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202501_GetTransactionsbyOrder_Response'
          description: Successful response
      summary: GetTransactionsbyOrder
      tags:
      - finance_v202501
  /finance/202501/statements/{statement_id}/statement_transactions:
    get:
      description: |-
        Retrieves the details of a statement, including the transactions, which can be a standard order transaction, an adjustment transaction, or a reserve-related transaction. For the SKU-level details of an order transaction, refer to [Get Transactions by Order](650a6734defece02be67d724).
        Applicable for all regions' sellers. Only data after 2023-07-01 is available (Please note that for US cross-border sellers, data before 2025-04-30 is unavailable).
      parameters:
      - description: The unique id of statement
        example: "7238804564097517339"
        explode: false
        in: path
        name: statement_id
        required: true
        schema:
          type: string
        style: simple
      - description: An opaque token used to retrieve the next page of a paginated
          result set. Retrieve this value from the result of the `next_page_token`
          from a previous response. It is not needed for the first page.
        example: 6AsPQsUMvH3RkchNUPPh22NROHkE0D8pmq/N5M1kHYcZmtRyv9aVrNv65W7Q6tFA+7D1ud64MPNz5OaT
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: The returned results will be sorted by the specified field. Only
          supports `order_create_time`.
        example: order_create_time
        explode: true
        in: query
        name: sort_field
        required: true
        schema:
          type: string
        style: form
      - description: "The sort order for the `sort_field` parameter. \nDefault: ASC\
          \ \nPossible values:\n- ASC: Ascending order\n- DESC: Descending order"
        example: DESC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results to be returned per page. \nDefault: 20\n\
          Valid range: [1-100]"
        example: "20"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int8
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202501_GetTransactionsbyStatement_Response'
          description: Successful response
      summary: GetTransactionsbyStatement
      tags:
      - finance_v202501
  /finance/202507/orders/unsettled:
    get:
      description: "This API allows the partner to retrieve a list of unsettled transactions\
        \ (incl. Orders & Adjustments) generated by a seller, returning the detailed\
        \ fee breakdown for a list of order ID and adjustment ID. \nFor now, this\
        \ API only returns transactions which were created after 2025.01.01. Once\
        \ one transaction is settled, which won't be returned by this API anymore,\
        \ please get from Get Statement Transaction API. \n**Pay attention to that\
        \ all data returned through this API is an estimated amount which subject\
        \ to change before settlement and can only used for seller's reference, final\
        \ settlement amount per each transaction can only provided through statement\
        \ related API."
      parameters:
      - description: An opaque token used to retrieve the next page of a paginated
          result set. Retrieve this value from the result of the `next_page_token`
          from a previous response. It is not needed for the first page.
        example: WzE3MjM1MjE1ODEyNDksNzQwMjQ2ODczODU1OTI2NDUxN10
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results to be returned per page. \nDefault: 20\n\
          Valid range: [1-100]"
        example: "20"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: The returned results will be sorted by the specified field. Only
          supports `order_create_time`.
        example: "1623812664"
        explode: true
        in: query
        name: sort_field
        required: true
        schema:
          type: string
        style: form
      - description: "The sort order for the `sort_field` parameter. \nDefault: ASC\
          \ \nPossible values:\n- ASC: Ascending order\n- DESC: Descending order"
        example: ASC
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Filter statements to show only those that are generated on or after the
          specified date and time. Unix timestamp. Note:statement_time_ge and statement_time_le together constitute the creation time filter condition. - If statement_time_ge is filled but statement_time_lt is empty, statement_time_lt will default to the current time. - If statement_time_lt is filled but statement_time_ge is empty, statement_time_ge will default to 20250101.
        example: "1623812664"
        explode: true
        in: query
        name: search_time_ge
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: the search range's end time
        example: "1623812664"
        explode: true
        in: query
        name: search_time_lt
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Finance_202507_GetUnsettledTransactions_Response'
          description: Successful response
      summary: GetUnsettledTransactions
      tags:
      - finance_v202507
  /fulfillment/202309/combinable_packages/search:
    get:
      description: 'Use this API to query orders eligible for combined shipping. '
      parameters:
      - description: |
          An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the `next_page_token` from a previous response. It is not needed for the first page.
        example: 6AsPQsUMvH3RkchNUPPh22NROHkE0D8pmq/N5M1kHYcZmtRyv9aVrNv65W7Q6tFA
        explode: true
        in: query
        name: page_token
        required: false
        schema:
          type: string
        style: form
      - description: "The number of results to be returned per page. Valid range:\
          \ [1-50]."
        example: "20"
        explode: true
        in: query
        name: page_size
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_SearchCombinablePackages_Response'
          description: Successful response
      summary: SearchCombinablePackages
      tags:
      - fulfillment_v202309
  /fulfillment/202309/files/upload:
    post:
      description: "This API is used for the seller to upload the proof of delivery\
        \ file for a package, and to generate the URL of the corresponding file. The\
        \ generated URL is used for the [Update Package Delivery Status API](https://partner.tiktokshop.com/docv2/page/650aa332c16ffe02b8f0ba82?external_id=650aa332c16ffe02b8f0ba82).\
        \ \n\nThis API only supports uploading qualification files in `PDF` format.\
        \ The file size can not exceed 10MB.\n\nNote: Only sellers utilizing the SOF\
        \ (Seller Own Fleet) capability can use this API. "
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: multipart/form-data"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Fulfillment_202309_FulfillmentUploadDeliveryFile_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_FulfillmentUploadDeliveryFile_Response'
          description: Successful response
      summary: FulfillmentUploadDeliveryFile
      tags:
      - fulfillment_v202309
  /fulfillment/202309/images/upload:
    post:
      description: "This API is used for the seller to upload the proof of delivery\
        \ image for a package, and to generate the URL of the corresponding file.\
        \ The generated URL is used in the [Update Package Delivery Status API](https://partner.tiktokshop.com/docv2/page/650aa332c16ffe02b8f0ba82?external_id=650aa332c16ffe02b8f0ba82)\
        \ to indicate that the parcel has been delivered. \n\nUsage requirements:\n\
        - The image format must be `JPEG`, `PNG`, or `JPG`. \n- The image size can\
        \ not exceed 5MB."
      parameters:
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: multipart/form-data"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Fulfillment_202309_FulfillmentUploadDeliveryImage_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_FulfillmentUploadDeliveryImage_Response'
          description: Successful response
      summary: FulfillmentUploadDeliveryImage
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/split_attributes:
    get:
      description: Use this API to check whether an order(s) can be split into multiple
        packages or not.
      parameters:
      - description: Query list of TikTok Shop order IDs.
        example: "556643423443,556643423444"
        explode: true
        in: query
        name: order_ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_GetOrderSplitAttributes_Response'
          description: Successful response
      summary: GetOrderSplitAttributes
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/{order_id}/handover_time_slots:
    get:
      description: "Use this API to retrieve the time slots available for pickup,\
        \ drop off or van collection for the seller's specified package by using order\
        \ ID and order line item ID."
      parameters:
      - description: TikTok shop order ID.
        example: "32132124331234"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: Order line item ID list
        example: "[\"32132124331234\"]"
        explode: true
        in: query
        name: order_line_item_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_GetHandoverTimeslots_Response'
          description: Successful response
      summary: GetHandoverTimeslots
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/{order_id}/packages:
    post:
      description: |-
        **This API is currently exclusive to the following markets: US, UK, ES, IE.**

        This API is for sellers who fulfill orders through their own selected/preferred logistics carrier, and allows sellers to upload valid package information (items in packages, shipping provider information, and tracking number) orders/order line items to TikTok Shop. Use [Get Shipping Providers API](https://partner.tiktokshop.com/docv2/page/650aa48d4a0bb702c06d85cd?external_id=650aa48d4a0bb702c06d85cd) to retrieve the `shipping_provider_id` for shipping providers.
      parameters:
      - description: ""
        example: ""
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fulfillment_202309_MarkPackageAsShipped_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_MarkPackageAsShipped_Response'
          description: Successful response
      summary: MarkPackageAsShipped
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/{order_id}/shipping_info/update:
    post:
      description: "If the seller entered an incorrect tracking number, this API allows\
        \ the seller to update the tracking number and shipping provider for an order\
        \ that has already been shipped.\n\n- This API is only applicable to orders\
        \ (or packages) shipped by the seller.   \n- It is only used to update the\
        \ tracking number and shipping provider for packages that have already been\
        \ shipped. \n- For orders that have been split for shipping, please use the\
        \ [Update Package Shipping Info API](https://partner.tiktokshop.com/docv2/page/650aa666c16ffe02b8f1203c?external_id=650aa666c16ffe02b8f1203c).\
        \ \n\nPlease note that TikTok Shop only allows merchants to update shipping\
        \ information within 72 hours after shipping."
      parameters:
      - description: TikTok Shop order ID.
        example: "576461413038785752"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fulfillment_202309_UpdateShippingInfo_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_UpdateShippingInfo_Response'
          description: Successful response
      summary: UpdateShippingInfo
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/{order_id}/shipping_services/query:
    post:
      description: Use this API ( for US ) to query the list of available shipping
        services when specifying packages' size or weight. The shipping fee and delivery
        time is an estimate only and is based on the package dimensions and weight
        you provided. Options listed may differ if you change the package attributes
        at the time of shipping.
      parameters:
      - description: TikTok Shop order ID
        example: "32132124331234"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fulfillment_202309_GetEligibleShippingService_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_GetEligibleShippingService_Response'
          description: Successful response
      summary: GetEligibleShippingService
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/{order_id}/split:
    post:
      description: |-
        Use this API to confirm an order split. Note that ​​supported split levels vary by region​​:
        - Some regions support ​​item-level splits​​ (splitting individual units of the same SKU).
        - Others only support ​​all-units splits​​ (splitting different SKUs into separate packages).

        Here are two examples of supported splits:
        - ​​**Case 1**: all-units split​​, applicable for orders in BR, SEA, MX (local sellers)
        Split a buyer order of SKU A of quantity 2 and SKU B of quantity 1 into two separate packages:
          - ​​Package 1​​: all units of SKU A
        ​​  - Package 2​​: all units of SKU B

        - **​​Case 2**: item-level split​​, applicable for orders in EU, JP, MX (global sellers), UK, US
        Split the same order contents into three individual packages:
          - ​​Package 1​​: 1 unit of SKU A
        ​  - ​Package 2​​: 1 unit of SKU A
        ​​  - Package 3​​: 1 unit of SKU B
      parameters:
      - description: TikTok Shop order ID.
        example: "556643423444"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
      - description: "Allowed type: application/json"
        example: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fulfillment_202309_SplitOrders_RequestBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fulfillment_202309_SplitOrders_Response'
          description: Successful response
      summary: SplitOrders
      tags:
      - fulfillment_v202309
  /fulfillment/202309/orders/{order_id}/tracking:
    get:
      description: This API can use the order number to obtain the corresponding logistics
        tracking information.
      parameters:
      - description: TikTok Shop order ID.
        example: "576461413038785752"
        explode: false
        in: path
        name: order_id
        required: true
        schema:
          type: string
        style: simple
      - description: ""
        example: ""
        explode: true
        in: query
        name: shop_cipher
        required: false
        schema:
          type: string
        style: form
      - description: ""
        example: ""
        explode: false
        in: header
        name: x-tts-access-token
        required: true
        schema:
          type: string
        style: simple
[...]
